!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title InTrack
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = javascript_pack_tag 'application'
    = stylesheet_link_tag 'full-calendar', media: 'all', 'data-turbolinks-track': 'reload'
  %body{:style => "margin: 0; background: #f5f5f5"}
    %div{:style => "flex-grow: 1;"}
      = react_component('layouts/Header', {user: user_signed_in? ? current_user : nil, menus: menus})
      - if notice
        = react_component('Flash', {notice: notice})
      - if alert
        = react_component('Flash', {alert: alert})
      = yield
